$btn-color: red;
$input-color: #d3d3d3;
$border: 3px solid #ffffff;
$bg-color: #696969;

.form_wrapper {
  max-width: 1440px;
  width: 100%;
  background-color: $bg-color;
  height: 620px;
  position: absolute;
}
.form {
  margin-top: 20%;
  margin-left: 25%;
  width: 70%;
  transform: skew(150deg);
}
.number_input {
  width: 30%;
  height: 54px;
  background-color: $input-color;
  border: $border;
  font-weight: 700;
  font-size: 16px;
  color: #696969;
  position: relative;
  padding-left: 20px;
}
::placeholder {
  transform: skew(-150deg);
}
.wrapper_button{
  transform: skew(-150deg);
}
.order_button {
  width: 20%;
  height: 60px;
  background-color: $btn-color;
  border: $border;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}
.order_button:disabled {
  cursor: no-drop;
}
.error_message {
  margin-left: 15%;
  color: #ff0000;
}
.result_request {
  position: absolute;
  top: 50%;
  left: 45%;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
}
.icon {
  color: #ffffff;
  height: 16px;
  padding-right: 8px;
}
@media screen and (max-width: 960px) {
  .order_button {
    width: 20%;
  }
}
@media screen and (max-width: 720px) {
  .order_button {
    width: 25%;
  }
  .number_input {
    width: 35%;
  }
  .form {
    margin-top: 40%;
  }
}
@media screen and (max-width: 590px) {
  .order_button {
    width: 27%;
    font-size: 14px;
  }
  .number_input {
    width: 30%;
    font-size: 14px;
  }
  .form {
    margin-top: 40%;
    margin-left: 5%;
  }
}
@media screen and (max-width: 500px) {
  .form {
    transform: skew(0);
  }
  ::placeholder {
    transform: skew(0);
  }
  .number_input {
    width: 45%;
  }
  .order_button {
    width: 40%;
    font-size: 14px;
  }
  .icon {
    height: 14px;
    padding-right: 3px;
  }
  .result_request {
    top: 40%;
    left: 35%;
  }
}
@media screen and (max-width: 350px) {
  .order_button {
    font-size: 12px;
  }
  .icon {
    height: 14px;
  }
}
